/* 1280px */
@media (max-width: 80rem) {
  html {
    font-size: 55%;
  }
}

/* 1100px */
@media (max-width: 68.75rem) {
  html {
    font-size: 50%;
  }
}

/* 1000px */
@media (max-width: 62.5rem) {
  html {
    font-size: 40%;
  }
}

/* 800px */
@media (max-width: 50rem) {
  header {
    max-width: 100rem;
  }

  .hamburger-menu-open {
    display: block;
    margin-right: 6rem;
  }

  .navigation {
    display: none;
  }

  .nav-sidebar {
    margin-top: 4rem;
  }

  .list {
    flex-direction: column;
    gap: 3rem;
  }

  .list-menu a:link,
  .list-menu a:visited {
    font-size: 2rem;
    font-weight: 700;
    color: var(--Very-dark-blue);
  }

  .aside-sidebar {
    position: fixed;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 100%;

    background-color: var(--White);
    padding: 3rem 10rem 3rem 3rem;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
    z-index: 10;
  }

  .sidebar {
    margin-left: 50%;
  }

  .slider-close {
    left: 66%;
  }
}

/* 680px */
@media (max-width: 42.5rem) {
  header {
    max-width: 85rem;
  }

  .section-body {
    display: flex;
    gap: 8rem;
  }

  main {
    max-width: 80rem;
  }

  .cart-checkout-container {
    left: 80%;
  }
}

/* 580px */
@media (max-width: 36.25rem) {
  html {
    font-size: 50%;
  }

  header {
    max-width: 45rem;
  }

  main {
    max-width: 40rem;
    margin-bottom: 5rem;
  }

  .section-body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  .box-d {
    overflow: visible;
  }
  .cart-checkout-container {
    top: 21%;
    left: 50%;
  }

  .to-cart {
    flex-direction: column;
  }

  .many-to-buy {
    justify-content: space-between;
    width: 100%;
  }

  .image-box-thumbnail {
    display: none;
  }

  /* .overlay {
      height: 100vh;
    } */

  .mobile-slider {
    display: flex;
    top: 33%;
    left: 50%;
  }

  .overlay-btn {
    top: 50%;
    left: 50%;
  }

  .sneakers-description {
    margin: 0;
  }

  .price-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .aside-sidebar {
    width: 80%;
  }

  .sidebar {
    margin-left: 55%;
  }

  .slider-close {
    left: 80%;
  }

  /* .image-box {
      width: 52rem;
    } */
}

/* 420px */
@media (max-width: 26.25em) {
  html {
    font-size: 50%;
  }

  header {
    max-width: 40rem;
    border-bottom: 0;
  }

  main {
    max-width: 35rem;
  }

  .header-body {
    padding: 1.5rem 0 1.5rem 0;
  }

  section {
    margin-top: 0;
  }

  .section-body {
    gap: 2rem;
  }

  .box-bigger {
    margin: 0;
  }

  .image-box {
    object-fit: cover;
    border-radius: 0;
  }

  .image-box-overlay {
    width: 40rem;
    border-radius: 1.5rem;
  }

  .mobile-slider {
    top: 28%;
    left: 50%;
  }

  .hamburger-menu-open {
    margin-right: 3rem;
  }

  .cart-profile {
    gap: 3rem;
  }

  .profile-pic {
    width: 4rem;
  }

  .company-title {
    font-size: 3rem;
  }

  .sidebar {
    margin-left: 60%;
  }

  .slider-close {
    left: 90%;
  }
}

/* 340px */
@media (max-width: 21.25em) {
  html {
    font-size: 45%;
  }

  header {
    max-width: 35rem;
  }

  main {
    max-width: 38rem;
  }

  .image-box {
    width: 47rem;
    height: 30rem;
  }

  .image-box-overlay {
    width: 40rem;
    border-radius: 1.5rem;
  }

  .mobile-slider {
    left: 51%;
  }

  .slider-btn {
    max-width: 40rem;
  }
}

@media (max-width: 19.0625em) {
  main {
    max-width: 35rem;
  }

  .mobile-slider {
    left: 54%;
  }
}
